@import "~leaflet/dist/leaflet.css";
  #map {
    min-height: 100%;
    z-index: 0;
  }

  ion-footer{
    bottom: 50px;
    z-index: 1;
   background: #4d4d4d;
    height: 250px;
    bottom: 50px;
    ion-button{
        width: 100px;
        height: 40px;
        border-radius: 14px;
        background: #4d4d4d;
    }
}
  