ion-card.weather-card{
    background-image: url('src/assets/weather.jpg');
    background-size: 350px;
    background-repeat: no-repeat;
    height: 150px;
    font-size: 20px;
}

ion-content{
    --ion-background-color: #c7c7c7; 
    font-size: 20px;
    font-weight: bold;
    padding-top: 50px;
}

ion-header{
    --ion-background-color: #c7c7c7; 
    border-bottom: #505050;
}

ion-title{
    font-size: 22px;
    font-weight: bold;
    
}
ion-footer{
    z-index: 1;
    background: #4d4d4d;
    height: 200px;
    bottom: 50px;
    ion-button{
        width: 100px;
        height: 50px;
        border-radius: 14px;
    }
}


.weather{
    padding: 20px 10px;
}